body {
  font-family: "Montserrat-black", sans-serif;
  text-align: center;
}

h1, h2, h3 {
  font-family: "Montserrat-bold", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

.font-title {
  font-weight: 900;
  color: white;
}

p {
  color: #8f8f8f;
  padding: 0 2.19rem;
}

/*Sections*/

.white-section {
  background-color: #fff;
}

.colored-section {
  background-color: #ff4c68;
}

/*Navbar*/

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light", sans-serif;
}

.navbar {
  padding: 0 0 4.5rem;
}

/*Title*/

#title {
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/*Download buttons*/

.button-download {
  margin: 5% 3% 5% 0;
}

/*Iphone*/

.iphone-img {
  width: 60%;
  position: absolute;
  right: 30%;
}

.rotate-25 {
  transform: rotate(25deg);
}

/*Features*/

#features {
  padding: 4rem 0;
  line-height: 1.5;
  z-index: 1;
  position: relative;
}

.feature-text {
  font-weight: 900;
  margin-top: 20px;
  font-size: 1.5rem;
}

.box-feature {
  padding: 3.2rem 12px;
}

.icon-feature {
  color: #ef8172;
}

.icon-feature:hover {
  color: #ff4c68;
}

/*Testimonials*/

#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text{
  line-height: 1.5;
  font-weight: 900;
  
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/*Press*/

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/*Prices*/

#pricing {
  padding: 6.25rem;
}

.pricing-text {
  font-size: 1.5rem;
  font-weight: 900;
}

.pricing-column {
  padding: 3% 2%;
}

.price {
  font-weight: 900;
}

@media (max-width: 1028px) {
  .iphone-img {
    position: static;
    transform: rotate(0deg);
  }
  #title {
    text-align: center;
  }
  h1 {
    text-align: center;
  }
}

/*Calling to the action*/

#cta {
  background-color: #ff4c68;
  color: #fff;
  line-height: 1.5;
  padding: 60px 200px;
}

.h2-end {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}

/*Footer*/

#footer {
  background-color: #fff;
  padding: 90px;
}

.icn-contact {
  padding: 0 10px 20px;
}

span {
  font-family: "Sacramento", cursive;
  font-size: 25px;
}
